
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DongTatCaSan</title>
    <meta charset="utf-8" />
    <link href="~/Content/bootstrap-lumen.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-success navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="~/Home/QuanLi">Quay Về Trang  Quản Lí</a>
            </li>
        </ul>
    </nav>
    <div class="container-fluid">
        <div class="p-5 mb-4 bg-light rounded-3">
            <h1>Đóng tất cả sân bóng</h1>
        </div>
    </div>
</body>
</html>
