
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <meta charset="utf-8" />
    <link href="~/Content/bootstrap-lumen.css" rel="stylesheet"/>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-success navbar-dark">
        <ul class="navbar-nav">
            <liv class="nav-item">
                <a class="nav-link" href="~/Home/TrangChu">Trang chủ</a>
            </liv>
            <li class="nav-item">
                <a class="nav-link" href="~/Home/QuanLi">Đăng Nhập Quản Lí</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Home/NguoiDung">Đăng Nhập Người Dùng</a>
            </li>
        </ul>
    </nav>
    
    <div class="container-fluid">
        <div class="p-5 mb-4 bg-light rounded-3">
            <h1>S-Sport</h1>
        </div>
    </div>
</body>
</html>
